/* entire container, keeps perspective */

.flip-container {
    perspective: 1000px;
    cursor: pointer;
}

.flip-container.flip .flipper {
    transform: rotateY(180deg);
}


/* flip speed goes here */

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}


/* hide back of pane during swap */

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}


/* front pane, placed above back */

.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    background-color: #00B7FF;
    color: white;
    height: 300px;
}


/* back, initially hidden pane */

.back {
    transform: rotateY(180deg);
    background: rgba(195, 195, 195, 0.2);
    height: 300px;
}
